@define-color rosewater #dc8a78;
@define-color flamingo #dd7878;
@define-color pink #ea76cb;
@define-color mauve #8839ef;
@define-color red #d20f39;
@define-color maroon #e64553;
@define-color peach #fe640b;
@define-color yellow #df8e1d;
@define-color green #40a02b;
@define-color teal #179299;
@define-color sky #04a5e5;
@define-color sapphire #209fb5;
@define-color blue #1e66f5;
@define-color lavender #7287fd;
@define-color text #4c4f69;
@define-color subtext1 #5c5f77;
@define-color subtext0 #6c6f85;
@define-color overlay2 #7c7f93;
@define-color overlay1 #8c8fa1;
@define-color overlay0 #9ca0b0;
@define-color surface2 #acb0be;
@define-color surface1 #bcc0cc;
@define-color surface0 #ccd0da;
@define-color base #eff1f5;
@define-color mantle #e6e9ef;
@define-color crust #dce0e8;



* {
	font-family: FiraCode Nerd Font Mono;
}


window#waybar {
	background: @base;
	border-radius: 15px;
}


#clock {
	margin: 0 10px 0 10px;
	font-size: 16px;
	color: @text;
}


#workspaces {
	background: @surface0;
	border-radius: 15px;
	padding: 0 5px;
	margin: 5px;
	font-size: 20px;
}

#workspaces button {
	color: @lavender;
	border: none;
}

#workspaces button.active {
	color: @teal;
}

#workspaces button.urgent {
	color: @red;
}

#language {
	font-size: 16px;
	color: @text;
}


#cpu {
	color: @text;
	margin: 0 10px;
	font-size: 16px;
}

#temperature {
	color: @text;
	margin: 0 10px;
	font-size: 16px;
}

#memory {
	color: @text;
	margin: 0 10px;
	font-size: 16px;
}

#network {
	color: @text;
	margin: 0 10px;
	margin-top: 2px;
	font-size: 16px;
}


#tray {
	margin: 5px 20px;
	background: @surface0;
	padding: 0 15px;
	border-radius: 10px;
}

#custom-notification {
	font-family: "NotoSansMono Nerd Font";
	margin: 0 30px 0 5px;
	font-size: 16px;
	color: @text;
}
