@define-color   background   #282a36;
@define-color   foreground   #f8f8f2;
@define-color   comment      #6272a4;
@define-color   cyan         #8be9fd;
@define-color   green        #50fa7b;
@define-color   orange       #ffb86c;
@define-color   pink         #ff79c6;
@define-color   purple       #bd93f9;
@define-color   red          #ff5555;
@define-color   yellow       #f1fa8c;


* { 
	font-family: FiraCode Nerd Font Mono;
	font-size: 16px;
}


window {
	background: transparent;
}



#clock {
	color: @foreground;
	background: @background;
	border-top: solid 2px @red;
	padding: 10px;
}


#language {
	color: @foreground;
	background: @background;
	border-top: solid 2px @red;
	border-right: solid 2px @red;
	border-radius: 0 10px 0 0;
	padding: 10px;
}


#tray {
	color: @foreground;
	background: @background;
	border-top: solid 2px @red;
	border-left: solid 2px @red;
	border-radius: 10px 0 0 0;
	padding: 10px;
}


#memory {
	color: @foreground;
	background: @background;
	border-top: solid 2px @red;
	border-left: solid 2px @red;
	border-radius: 10px 0 0 0;
	padding: 10px;
}


#cpu {
	color: @foreground;
	background: @background;
	border-top: solid 2px @red;
	padding: 10px;
}


#custom-cpu_temp {
	color: @foreground;
	background: @background;
	border-top: solid 2px @red;
	padding: 10px;
}


#custom-cpu_fan {
	color: @foreground;
	background: @background;
	border-top: solid 2px @red;
	border-right: solid 2px @red;
	border-radius: 0 10px 0 0;
	padding: 10px;
	margin-right: 20px;
}


#custom-gpu_mem {
	color: @foreground;
	background: @background;
	border-top: solid 2px @red;
	border-left: solid 2px @red;
	border-radius: 10px 0 0 0;
	padding: 10px;
}


#custom-gpu_temp {
	color: @foreground;
	background: @background;
	border-top: solid 2px @red;
	border-left: solid 2px @red;
	border-radius: 10px 0 0 0;
	padding: 10px;
}


#custom-gpu_fan {
	color: @foreground;
	background: @background;
	border-top: solid 2px @red;
	border-right: solid 2px @red;
	border-radius: 0 10px 0 0;
	padding: 10px;
}



#custom-launcher {
	color: @cyan;
	background: @background;
	border-bottom: solid 2px @red;
	border-right: solid 2px @red;
	border-radius: 0 0 10px 0;
	padding: 5px 15px;
	font-size: 20px;
	margin-right: 20px;
}


#workspaces {
	color: @foreground;
	background: @background;
	border-bottom: solid 2px @red;
	border-right: solid 2px @red;
	border-left: solid 2px @red;
	border-radius: 0 0 10px 10px;
	padding: 5px 10px;
}


#workspaces button {
	color: @purple;
	background: transparent;
	border: 0px;
	box-shadow: none;
}

#workspaces button.active {
	color: @pink;
}


#pulseaudio {
	color: @foreground;
	background: @background;
	border-bottom: solid 2px @red;
	border-right: solid 2px @red;
	border-left: solid 2px @red;
	border-radius: 0 0 10px 10px;
	padding: 5px 10px;
}

#custom-power {
	color: @red;
	background: @background;
	border-bottom: solid 2px @red;
	border-left: solid 2px @red;
	border-radius: 0 0 0 10px;
	padding: 5px 15px;
	font-size: 20px;
	margin-left: 20px;
}


#mpd {
	color: @foreground;
	background: @background;
	border-bottom: solid 2px @red;
	border-right: solid 2px @red;
	border-left: solid 2px @red;
	border-radius: 0 0 10px 10px;
	padding: 5px 10px;
}
