/* @define-color   black        #282a36; */
/* @define-color   white        #f8f8f2; */
/* @define-color   comment      #6272a4; */
/* @define-color   cyan         #8be9fd; */
/* @define-color   green        #50fa7b; */
/* @define-color   orange       #ffb86c; */
/* @define-color   pink         #ff79c6; */
/* @define-color   purple       #bd93f9; */
/* @define-color   red          #ff5555; */
/* @define-color   yellow       #f1fa8c; */

@define-color base   #24273a;
@define-color mantle #1e2030;
@define-color crust  #181926;

@define-color text     #cad3f5;
@define-color subtext0 #a5adcb;
@define-color subtext1 #b8c0e0;

@define-color surface0 #363a4f;
@define-color surface1 #494d64;
@define-color surface2 #5b6078;

@define-color overlay0 #6e738d;
@define-color overlay1 #8087a2;
@define-color overlay2 #939ab7;

@define-color blue      #8aadf4;
@define-color lavender  #b7bdf8;
@define-color sapphire  #7dc4e4;
@define-color sky       #91d7e3;
@define-color teal      #8bd5ca;
@define-color green     #a6da95;
@define-color yellow    #eed49f;
@define-color peach     #f5a97f;
@define-color maroon    #ee99a0;
@define-color red       #ed8796;
@define-color mauve     #c6a0f6;
@define-color pink      #f5bde6;
@define-color flamingo  #f0c6c6;
@define-color rosewater #f4dbd6;


@define-color background @base;
@define-color foreground @rosewater;
@define-color border     @green;


* {
	font-family: FiraCode Nerd Font Mono;
	font-size: 16px;
	color: @foreground;
}


window {
	background: transparent;
}


#wireplumber {
	background: @background;
	border-radius: 10px;
	padding: 5px 10px;
	border: 1px solid @border;
}


#network {
	background: @background;
	border-radius: 10px;
	padding: 5px 10px;
	border: 1px solid @border;
}


#clock {
	background: @background;
	border-radius: 10px;
	padding: 5px 10px;
	border: 1px solid @border;
}


#language {
	background: @background;
	border-radius: 10px;
	padding: 5px 10px;
	border: 1px solid @border;
}


#tray {
	background: @background;
	border-radius: 10px;
	padding: 5px 10px;
	border: 1px solid @border;
}


#mpd {
	background: @background;
	border-radius: 10px;
	padding: 5px 10px;
	border: 1px solid @border;
}


#cpu {
	background: @background;
	border-radius: 10px;
	padding: 5px 10px;
	border: 1px solid @border;
}


#temperature {
	background: @background;
	border-radius: 10px;
	padding: 5px 10px;
	border: 1px solid @border;
}


#memory {
	background: @background;
	border-radius: 10px;
	padding: 5px 10px;
	border: 1px solid @border;
}
