.bottombar {
	background: $base;

	.module {
		background: none;
		border: none;
		background-repeat: no-repeat;
		background-position: center;
		min-width: 35px;
		min-height: 35px;
		border-radius: 10px;

		&:hover {
			background: $mantle;
		}
	}

	.date_time {
		font-size: 20px;
		margin-bottom: -5px;
	}
	.date_date {
		font-size: 14px;
	}
}
